@page
@model BillingPortal.Pages.Reports.OutgoingCallsByUserModel
@{
    Layout = "_LayoutTables";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Users <small>List of Users</small></h3>
            </div>


        </div>

        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Users <small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table " id="datatable">
                            <thead>
                                <tr>
                                    <td>User Name</td>
                                    <td>Actions</td>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model._RecordsTable)
                                {
                                    <tr>
                                        <td>
                                            @item
                                        </td>
                                        
                                        <td>
                                            <a asp-page="/Reports/IndividualOutgoingReport" asp-route-id="@item.Replace(" ","-")" class="btn btn-info">View Report</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>


        </div>
        <div class="clearfix"></div>
    </div>
</div>